/* GLOBAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #003366;
    color: #fff;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: #004a99;
    padding: 18px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.nav-left h2 {
    font-size: 22px;
    font-weight: 700;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 14px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #79c7ff;
}

.social-icons img {
    width: 28px;
    margin-left: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.12);
}

/* HERO SECTION */
.hero {
    display: flex;
    padding: 60px 40px;
    align-items: center;
    justify-content: space-between;
}

.hero-left img {
    width: 550px;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

.hero-right {
    max-width: 550px;
}

.hero-right h1 {
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 1.3;
}

.highlight {
    color: #79c7ff;
}

.hero-right p {
    margin-top: 18px;
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 500px;
    color: #dceaff;
}

.contact-btn {
    margin-top: 30px;
    padding: 14px 26px;
    background: #008cff;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
}

.contact-btn:hover {
    background: #0b7dda;
}


/* ABOUT PAGE */
.about-section {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.about-header h1 {
    text-align: center;
    font-size: 2.6rem;
    color: #002b66;
}

.underline {
    width: 120px;
    height: 4px;
    background: #0a4ea3;
    margin: 10px auto 30px;
    border-radius: 2px;
}

.about-container {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-left img {
    width: 330px;
}

.about-right {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.7;
    color: #333;
}

.about-bottom {
    margin-top: 40px;
    text-align: center;
}

.about-bottom img {
    width: 400px;
}

/* Responsive */
@media(max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-left img {
        width: 260px;
    }

    .about-bottom img {
        width: 280px;
    }
}


