* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #ffffff;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: #004A99;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    width: 55px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 14px;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
}

.social-icons img {
    width: 28px;
    margin-left: 12px;
}

/* HERO */
.hero {
    display: flex;
    padding: 60px 40px;
    background: #003366;
    color: #fff;
}

.hero-left img {
    width: 500px;
    border-radius: 8px;
}

.hero-right {
    margin-left: 40px;
    max-width: 550px;
}

.hero-right h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.highlight {
    color: #79c7ff;
}

.hero-right p {
    margin-top: 20px;
    font-size: 1.2rem;
}

.contact-btn {
    margin-top: 30px;
    padding: 14px 26px;
    background: #008CFF;
    border: none;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
}

.contact-btn:hover {
    background: #0b7dda;
}


/* FOOTER SECTION */
.footer {
    background: #003c77;   /* Main dark blue */
    color: #ffffff;
    padding: 60px 40px 25px;
    font-family: 'Inter', sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}

.footer-col h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #ffffff;
}

.footer-col a {
    display: block;
    color: #d4e8ff;         /* soft light blue */
    margin-bottom: 10px;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;
}

.footer-col a:hover {
    color: #58b7ff;        /* hover color */
}

/* Bottom Part */
.footer-bottom {
    border-top: 1px solid #1e5aa7;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-logo {
    width: 40px;
}

.footer-bottom p {
    font-size: 14px;
    color: #d4e8ff;
}

/* Social Icons */
.footer-social a {
    color: #ffffff;
    font-size: 22px;
    margin-left: 18px;
    transition: 0.3s;
}

.footer-social a:hover {
    color: #58b7ff;      /* blue hover */
}

/* Responsive */
@media (max-width: 768px) {
    .footer {
        text-align: left;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .footer-left {
        justify-content: center;
    }
}
